body {
  font-family: "Open Sans", sans-serif;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}
* {
  padding: 0;
  margin: 0;
}

#todo-input {
  background-color: rgb(223, 223, 223);
  border: none;
  padding: 15px;
  border-radius: 5px;
  font-size: 16px;
  width: 95%;
  font-family: "Open Sans", sans-serif;
}

#todo-input:hover,
#todo-input:focus {
  outline: none;
}

.container {
  margin: auto;
  width: 960px;
  text-align: center;
  margin-top: 70px;
}
.todo-container {
  width: 600px;
  margin: auto;
}
#task-container {
  margin-top: 30px;
  transition: all 0.2s;
  margin-bottom: 50px;
}
.task {
  margin-top: 20px;

  background-color: rgb(223, 223, 223);
  padding: 30px;
  position: relative;
  word-break: break-all;
  word-break: break-word;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.2s;
}

.x-button {
  position: absolute;
  right: -7px;
  font-size: 20px;
  top: -14px;
  cursor: pointer;
  color: black;
}
.v-button {
  position: absolute;
  right: 15px;
  font-size: 20px;
  top: -14px;
  cursor: pointer;
}
.hidden {
  display: none;
}
.completed {
  color: grey;
  background-color: #acacac;
  text-decoration-line: line-through;
  transition: all 0.2s;
}
#message {
  margin-top: 20px;
  font-size: 20px;
}
@media screen and (max-width: 960px) {
  .container {
    margin-top: 30px;
  }
  .container,
  .todo-container,
  .task-container,
  #todo-input {
    width: 90% !important;
  }
}
